body{
    margin: 0;
}

.container {
    display:grid;
    grid-gap: 20px;
    border: 1px solid;
    grid-template-columns: minmax(min-content, 350px) minmax(150px, 1fr) 120px;
}

img {
    height: 30px;
    width: auto;
}

.item1 {
    font-size: 15px;;
    border: 1px solid;
    padding-bottom:17px;

}
.item2 {
    font-size: 15px;;
    border: 1px solid;
}